APP__NAME='Somna'
APP__VERSION='1.0.0'
DATABASE__URL="postgresql+asyncpg://postgres_user:postgres_password@localhost:5432/somna_db"
JWT__SECRET_KEY="randomjwtsecretkey"
GOOGLE_SSO__CLIENT_ID="randomgooglesso.apps.googleusercontent.com"
GOOGLE_SSO__CLIENT_SECRET="randomgooglessosecret"
SMTP__USER="randomuser"
SMTP__PASSWORD="randompassword"